* {
    font-size: 16px;
}
.slider-container {
    background: #5c6bc0;
    position: relative;
}
.slider-parent {
    position: relative;
    transition: -ms-transform 0.5s,-webkit-transform 0.5s,transform 0.5s !important;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    font-size: 0;
    &::-webkit-scrollbar {
        -webkit-appearance: none;
        display: none;
    }
    @include breakpoint($sm) {
        overflow: visible;
    }
}
.slider-gran {
    margin-left: -1.25%;
    margin-right: -1.25%;
    @include breakpoint($sm) {
        overflow: hidden;
    }
}
.c-villa-wrapper {
    position: relative;
}
.round-arrow {
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    width: 45px;
    height: 45px;
    background: #fff;
    z-index: 99;
    box-shadow: 0px 1px 10px 1px rgba(183, 183, 183, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    @include breakpoint($sm-max) {
        display: none;
    }
    img {
        width: 20px;
        height: 20px;
        top: -50px;
    }
    &--left {
        left: -20px;
        display: none;
    }
    &--right {
        right: -20px;
        
    }
}
.swypeSlide {
    position: relative;
    width: 43%;
    white-space: normal;
    display: inline-block;
    vertical-align: top;
    // margin-right: 2.5%;
    padding-left: 1.25%;
    padding-right: 1.25%;
    
    @include breakpoint($sm) {
        width: 33.33%;
    }
    div {
        border: solid;
    }
}

.slider-parent {
    transition: -ms-transform 0.5s,-webkit-transform 0.5s,transform 0.5s !important;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    font-size: 0;
}

@media (min-width: 768px) {
    .slider-parent {
        overflow: visible;
    }
}